@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}

.progress-ring-circle {
  stroke-dasharray: 603;
  stroke-dashoffset: 150;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  filter: drop-shadow(0 0 4px #00d2ff);
  transition: stroke-dashoffset 0.5s ease;
}

.custom-shadow {
  box-shadow:
    -13px -11px 9px -7px rgb(255 253 253 / 0.7),
    inset -7px -6px 17px 3px rgb(255 253 253 / 0.7);
}

@theme {
  --breakpoint-xs: 25rem;
  --inner-right-corner-shadow: inset 4px 2px 3px azure;
}
