@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Orbitron";
  src: url("assets/fonts/Orbitron-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Italianno";
  src: url("assets/fonts/Italianno-Regular.woff2") format("woff2");
  font-display: swap;
}

main[data-font-state="font1"] {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

main[data-font-state="font2"] {
  font-family: "Orbitron", Arial, Helvetica, sans-serif;

  .timer-options {
    font-size: 0.7rem;
  }
}

main[data-font-state="font3"] {
  font-family: "Italianno", Arial, Helvetica, sans-serif;

  .title {
    font-size: 2rem;
  }

  .timer-options {
    label {
      padding: 4px 8px;
      font-size: 1.7rem;
    }
  }

  .settings {
    font-size: 1.7rem;
  }
}

main[data-time-color-state="color1"] {
  .glider {
    background-color: #f76f70;
  }

  .progress-ring-circle {
    stroke: #f76f70;
    filter: drop-shadow(0 0 11px #f76f70);
  }

  .restart-btn:hover {
    filter: drop-shadow(0px 0px 9px #fff) drop-shadow(0px 0px 10px #f76f70) drop-shadow(0px 0px 20px #f76f70);
  }

  .icon-glow {
    filter: drop-shadow(0px 0px 5px #fff) drop-shadow(0px 0px 7px #f76f70) drop-shadow(0px 0px 15px #f76f70);
    &:hover {
      filter: drop-shadow(0px 0px 9px #fff) drop-shadow(0px 0px 10px #f76f70) drop-shadow(0px 0px 20px #f76f70);
    }
  }
}

main[data-time-color-state="color2"] {
  .glider {
    background-color: #73f0f7;
  }

  .progress-ring-circle {
    stroke: #73f0f7;
    filter: drop-shadow(0 0 11px #00d2ff);
  }

  .restart-btn:hover {
    filter: drop-shadow(0px 0px 9px #fff) drop-shadow(0px 0px 10px #73f0f7) drop-shadow(0px 0px 20px #73f0f7);
  }

  .icon-glow {
    filter: drop-shadow(0px 0px 5px #fff) drop-shadow(0px 0px 7px #73f0f7) drop-shadow(0px 0px 15px #73f0f7);
    &:hover {
      filter: drop-shadow(0px 0px 9px #fff) drop-shadow(0px 0px 10px #73f0f7) drop-shadow(0px 0px 20px #73f0f7);
    }
  }
}

main[data-time-color-state="color3"] {
  .glider {
    background-color: #da7ef6;
  }

  .progress-ring-circle {
    stroke: #da7ef6;
    filter: drop-shadow(0 0 11px #da7ef6);
  }

  .restart-btn:hover {
    filter: drop-shadow(0px 0px 9px #fff) drop-shadow(0px 0px 10px #da7ef6) drop-shadow(0px 0px 20px #da7ef6);
  }

  .icon-glow {
    filter: drop-shadow(0px 0px 5px #fff) drop-shadow(0px 0px 7px #da7ef6) drop-shadow(0px 0px 15px #da7ef6);
    &:hover {
      filter: drop-shadow(0px 0px 9px #fff) drop-shadow(0px 0px 10px #da7ef6) drop-shadow(0px 0px 20px #da7ef6);
    }
  }
}

input[type="number"] {
  appearance: textfield;
  outline: none;
}

.restart-btn,
.icon-glow {
  transition:
    filter 0.3s ease,
    transform 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: rotate(360deg);
  }
}

.progress-ring-circle {
  transition: stroke-dashoffset 1s linear;
  transform: rotate(-90deg);
  transform-origin: center;
  stroke-linecap: round;
}

.custom-shadow {
  box-shadow:
    -13px -11px 9px -7px rgb(255 255 255 / 0.9),
    inset -7px -6px 17px 3px rgb(255 255 255 / 0.9);
}

.modal {
  transform: translate(-50%, -300%);
  transition: transform 0.7s ease;

  .spacing {
    letter-spacing: 0.2rem;
  }

  &.active {
    transform: translate(-50%, -50%);
  }

  .modal-inner-shadow {
    box-shadow: inset 0 0 0.7rem 0.3rem azure;
  }
}

.apply-btn {
  top: 30px;
}

.custom-time[data-state="error"] p {
  color: #ff4d4d;
  font-weight: 600;
  visibility: visible;
}

.input-glow {
  box-shadow:
    0 0 7px azure,
    inset 0 0 9px 9px rgb(32 32 32 / 0.3);
}

.timer-display {
  transition:
    opacity 0.5s linear,
    transform 1s linear;

  &.scale-time {
    transform: scale(1.3);
  }

  &.end-time {
    opacity: 0.3;
  }
}

@theme {
  --breakpoint-xs: 25rem;
  --inner-right-corner-shadow: inset 4px 2px 3px azure;
}
