@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}

input[type="number"] {
  appearance: textfield;
  outline: none;
}

.icon-glow {
  filter: drop-shadow(0px 0px 5px #fff) drop-shadow(0px 0px 7px #0ff) drop-shadow(0px 0px 15px #0ff);
  transition:
    filter 0.3s ease,
    transform 0.3s ease;
  cursor: pointer;

  &:hover {
    filter: drop-shadow(0px 0px 9px #fff) drop-shadow(0px 0px 10px #0ff) drop-shadow(0px 0px 20px #0ff);
    transform: rotate(180deg);
  }
}

.progress-ring-circle {
  stroke-dasharray: 603;
  stroke-dashoffset: 150;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  filter: drop-shadow(0 0 4px #00d2ff);
  transition: stroke-dashoffset 0.5s ease;
}

.custom-shadow {
  box-shadow:
    -13px -11px 9px -7px rgb(255 253 253 / 0.7),
    inset -7px -6px 17px 3px rgb(255 253 253 / 0.7);
}

.modal {
  transform: translate(-50%, -300%);
  transition: transform 0.7s ease;

  .spacing {
    letter-spacing: 0.2rem;
  }

  &.active {
    transform: translate(-50%, -50%);
  }
}

.apply-btn {
  top: 30px;
}

@theme {
  --breakpoint-xs: 25rem;
  --inner-right-corner-shadow: inset 4px 2px 3px azure;
}
